NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyClUa5qj0psOU1ZefUZNR5624V_legrKSE
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=bennix-apps.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=bennix-apps
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=bennix-apps.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=992734413450
NEXT_PUBLIC_FIREBASE_APP_ID=1:992734413450:web:b3a237db710e24971aa373
